* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-user-select: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 374px) {
  html {
    font-size: 85.3px;
  }
}

@media screen and (min-device-width: 375px) and (max-device-width: 413px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-device-width: 414px) {
  html {
    font-size: 109.07px;
  }
}

#main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#loading {
  background: #484848;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  transition: all 1.5s 1s;
  -webkit-transition: all 1.5s 1s;
  .load {
    width: .7rem;
    height: .7rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    &::before {
      content: " ";
      display: block;
      animation: loading1 1s infinite;
      -webkit-animation: loading1 1s infinite;
      border-radius: 50%;
      background: #ccc;
      position: absolute;
      left: 0;
      top: 0;
      width: .7rem;
      height: .7rem;
    }
    &::after {
      content: " ";
      display: block;
      animation: loading2 1s infinite;
      -webkit-animation: loading2 1s infinite;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: .7rem;
      height: .7rem;
    }
  }
}

#scanning {
  background: url("img/first_bg.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
  .text {
    position: absolute;
    top: 20%;
    font-size: 20px;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .finger {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    img {
      width: 100%;
      &#scan {
        position: absolute;
        left: 0;
        top: -16px;
        transform: translate(0, 150px);
        -webkit-transform: translate(0, 150px);
        transition: 1.5s;
        -webkit-transition: 1.5s;
        opacity: 0;
      }

    }
  }
}

.next {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  z-index: 8;
  animation: next 1s infinite;
  -webkit-animation: next 1s infinite;
}

#music {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url("img/music.svg") no-repeat;
  background-size: 100% 100%;
  z-index: 8;
}

#me_info {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 7;
  overflow: hidden;
  section {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    &:first-child {
      z-index: 7;
      background: url(img/second_bg.png) no-repeat center;
      background-size: cover;
      .head {
        position: absolute;
        left: 50%;
        top: 20%;
        margin-left: -55px;
        text-align: center;
        width: 110px;
        height: 105px;
        padding-top: 5px;
        border-radius: 50%;
        background: rgba(255, 255, 255, .5);
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          transform: scale(0, 0);
          transition: all 1s;
          -webkit-transform: scale(0, 0);
          -webkit-transition: all 1s;
        }
      }
      ul {
        color: #fff;
        top: 50%;
        position: absolute;
        width: 240px;
        left: 50%;
        margin-left: -120px;
        li {
          font-size: 40px;
          line-height: 2em;
          transform: translate(0 20px);
          -webkit-transform: translate(0 20px);
          opacity: 0;
          span {
            display: inline-block;
            width: 100px;
          }
        }
        li:nth-child(1) {
          transition: all 1s 1s;
          -webkit-transition: all 1s 1s;
        }
        li:nth-child(2) {
          transition: all 1s 1.3s;
          -webkit-transition: all 1s 1.3s;
        }
        li:nth-child(3) {
          transition: all 1s 1.6s;
        }
        li:nth-child(4) {
          transition: all 1s 1.9s;
          -webkit-transition: all 1s 1.9s;
        }
        li:nth-child(5) {
          transition: all 1s 2.1s;
          -webkit-transition: all 1s 2.1s;
        }
      }
    }
    &#animate_0 {
      img {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
      }
      ul {
        li {
          font-size: 20px;
          transform: translate(0, 0);
          -webkit-transform: translate(0, 0);
          opacity: 1;
        }
      }
    }
    &:nth-child(2) {
      background: url(img/third_bg.jpg) no-repeat center;
      background-size: cover;
      .title {
        color: #fff;
        font-size: 30px;
        margin: 70px 50px 0 50px;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        opacity: 0;
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transition: all 1s;
        -webkit-transition: all 1s;
      }
      ul {
        position: relative;
      }
      li {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transition: all .8s .5s;
        -webkit-transition: all .8s .5s;
        &:nth-child(1) {
          left: 50%;
          margin-left: -40px;
          top: 120px;
          background: #ff6665;
          span {
            transition: all 1s 1.2s;
            -webkit-transition: all 1s 1.2s;
          }
        }
        &:nth-child(2) {
          left: 12%;
          top: 210px;
          background: #ffcb00;
          span {
            transition: all 1s 1.4s;
            -webkit-transition: all 1s 1.4s;
          }
        }
        &:nth-child(3) {
          left: 22%;
          top: 310px;
          background: #3297ff;
          span {
            transition: all 1s 1.6s;
            -webkit-transition: all 1s 1.6s;
          }
        }
        &:nth-child(4) {
          right: 22%;
          top: 310px;
          background: #66cb32;
          span {
            transition: all 1s 1.8s;
            -webkit-transition: all 1s 1.8s;
          }
        }
        &:nth-child(5) {
          right: 12%;
          top: 210px;
          background: #fd9898;
          span {
            transition: all 1s 2s;
            -webkit-transition: all 1s 2s;
          }
        }
        span {
          color: #fff;
          font-size: 22px;
          line-height: 80px;
          text-align: center;
          display: block;
          transform: translate(0, 1600px);
          -webkit-transform: translate(0, 1600px);
        }
      }
    }
    &#animate_1 {
      .title {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
      }
      li {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        span {
          transform: translate(0, 0);
          -webkit-transform: translate(0, 0);
        }
      }
    }
    &:nth-child(3) {
      background: #141d26;
      .title {
        padding: 100px 0 10px 0;
        text-align: center;
        opacity: 0;
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transition: all 1s;
        -webkit-transition: all 1s;
        img {
          width: 100px;
          height: 100px;
          border: 10px solid rgba(255, 255, 255, 0.5);
          border-radius: 50%;
        }
      }
      .line {
        width: 1px;
        height: 300px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(0, 500px);
        -webkit-transform: translate(0, 500px);
        transition: all 1s .5s;
        -webkit-transition: all 1s .5s;
      }
      .circle span {
        box-shadow: 2px 2px 2px 2px #fff;
        background: #f00;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: block;
        left: 50%;
        position: absolute;
        margin-left: -10px;
        opacity: 0;
        transform: translate(0, 30px);
        -webkit-transform: translate(0, 30px);
        &:nth-child(1) {
          bottom: 90px;
          transition: all 1s 1s;
        }
        &:nth-child(2) {
          bottom: 180px;
          transition: all 1s 1.3s;
          -webkit-transition: all 1s 1.3s;
        }
        &:nth-child(3) {
          bottom: 270px;
          transition: all 1s 1.6s;
          -webkit-transition: all 1s 1.6s;
        }
      }
      li {
        font-size: 20px;
        color: #fff;
        width: 40%;
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        &:nth-child(1) {
          left: 20px;
          bottom: 60px;
          transition: all 1s 1.6s;
          -webkit-transition: all 1s 1.6s;
          transform: translate(-500px, 0);
          -webkit-transform: translate(-500px, 0);
        }
        &:nth-child(2) {
          right: 10px;
          bottom: 150px;
          transition: all 1s 1.8s;
          -webkit-transition: all 1s 1.8s;
          transform: translate(1000px, 0);
          -webkit-transform: translate(1000px, 0);
        }
        &:nth-child(3) {
          left: 20px;
          bottom: 250px;
          transition: all 1s 2s;
          -webkit-transition: all 1s 2s;
          transform: translate(-500px, 0);
          -webkit-transform: translate(-500px, 0);
        }
      }
    }
    &#animate_2 {
      .title {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
      }
      .line {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
      }
      .circle span {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
      }
      li {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
      }
    }
  }

}

.zIndex {
  display: block;
  z-index: 7;
}

@keyframes loading2 {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    z-index: 10;
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    z-index: 10;
  }
}

@keyframes loading1 {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    z-index: 10;
  }
  100% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    z-index: 0;
  }
}

@-webkit-keyframes loading2 {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    z-index: 10;
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    z-index: 10;
  }
}

@-webkit-keyframes loading1 {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    z-index: 10;
  }
  100% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    z-index: 0;
  }
}

@keyframes next {
  0% {
    transform: translate(0, 6px);
    -webkit-transform: translate(0, 6px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    opacity: 0;
  }
}

@-webkit-keyframes next {
  0% {
    transform: translate(0, 6px);
    -webkit-transform: translate(0, 6px);
    opacity: 1;
  }
  100% {
    transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
    opacity: 0;
  }
}

.musicMove {
  -webkit-animation: musicMoveFrm 1s linear 0s infinite;
  animation: musicMoveFrm 1s linear 0s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes musicMoveFrm {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes musicMoveFrm {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}