.navbar{

    height:80px;
    /*line-height: 100px;*/
    border: none;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica;
    font-weight: 700;
}
.navbar a:focus{
    outline: 0;
}

.navbar .navbar-nav{
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus{
    outline: 0;
}

.navbar-brand,
.navbar-nav li a{
    color:white;
}

.navbar-header>a,
.navbar-nav>li>a:hover{
    color: #a076d0;
}
.navbar-brand{
    padding-top: 50px;
    color: #ffffff;
}
.navbar-default,
.navbar-inverse{
    border: 0;
    background-color: #10174e !important;

}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}


a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    /*color: #a076d0 !important;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
hr.star-light::after,
hr.star-primary::after{
    content: '\f004';
    display: inline-block;
    position: relative;
    top: -0.8em;
    padding: 0.25em;
    font-size: 2em;
    font-family: FontAwesome;
}
hr.star-light{
    border-color: #ffffff;
}
hr.star-light:after{
    color: #fff;
    background-color: #a076d0;
}

hr.star-primary{
    border-color: #2c3e50;
}
hr.star-primary:after{
    color: #2c3e50;
    background-color: white;
}



header {
    text-align: center;
    color: #fff;
    background: #a076d0;

}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;

}
.img-circle{
    border-radius: 50%;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.4em;
    font-weight: 500;
    font-family: Monospace,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}


@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-brand:hover,
.navbar-nav li a:hover{
    color: #a076d0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background:  #a076d0;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}